.containerNotfound {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.blaknMap {
    height: 70vh;
    width: 50%;
    position: relative;
    top: 100px;
}

/* .textNotFound{
   align-items: flex-end;
   justify-content: flex-end;
   align-content: flex-end;
} */


.textNotFound {
    position: absolute;
    right: 37%;
    top: 15%;
}

.textNotFoundLight {
    color: #000;
}

.textNotFoundDark {
    color: #fff;
}


.text2NotFound {
    position: absolute;
    right: 35%;
    bottom: 10%;

}

.text2NotFoundLight {
    color: #000;
}

.text2NotFoundDark {
    color: #fff;
}

@media screen and (max-width:600px) {
    .blaknMap {
        height: 50vh;
        width: 100%;
    }

    .textNotFound,
    .text2NotFound {
        font-size: 1.5em;
        right: 10%;
    }

    .text2NotFound {
        bottom: 15%;
    }

}