 .light {
     height: 100vh;
     background-color: rgb(201, 179, 244);
 }


 .dark {
     height: 100vh;
     background-color: #212121;
 }

 @media screen and (max-width:600px) {
     body {
         overflow: hidden;
     }
 }