.containerSearch {
    height: 10%;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.input {
    height: 40px;
    width: 30%;
    border-radius: 30px;
    border: none;
    font-size: 1.5em;
    position: relative;


}

.input:hover {
    cursor: pointer;
}

.input:focus {
    outline: none;
    cursor: text;
    caret-color: #000;

}

.input::placeholder {

    letter-spacing: 1px;
    color: rgb(84, 83, 83);
    font-style: italic;
    font-size: 20px;

}



.light {
    background-color: rgb(255, 255, 255);
}


.dark {
    background-color: rgba(0, 0, 0, 0.931);
    color: #fff;
    caret-color: #fff;

}

.dark:focus {
    caret-color: #fff;
}

.search {
    /* position: relative;
    left: 600px;
    top: 35px; */
    position: absolute;
    right: 36%;
    margin: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


@media (max-width:600px) {
    .input {
        width: 40%;
    }

    .search {
        right: 40%;
    }
}