.containerSearch {
    height: 10%;
    background-color: transparent;
}

.input {
    height: 40px;
    width: 30%;
    border-radius: 30px;
    position: relative;
    top: 40px;
    left: 600px;
    border: none;
    font-size: 1.5em;



}

.input:hover {
    cursor: pointer;
}

.input:focus {
    outline: none;
    cursor:text;
    caret-color: #000;

}

.input::placeholder {
    
    letter-spacing: 1px;
    color: rgb(84, 83, 83);
    font-style: italic;
    font-size:20px;
    
}



.light {
    background-color: rgb(255, 255, 255);
}


.dark {
    background-color: rgba(0, 0, 0, 0.931);
    color:#fff;
    caret-color: #fff;
    
}
.dark:focus{
    caret-color: #fff;
}

.search {
    position: relative;
    left: 550px;
    top: 46px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


@media (max-width:600px){
    .input{
        left:25%;
        width:50%;
    }

    .search{
        left:27%;
    }
}